@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Monofett&family=VT323&display=swap');

#fecha-hora{
    background-color: #326332;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #f9c74f;
    font-family: "Kode Mono", monospace;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

